<h1>The Spoon</h1>
<p>Welcome to my app</p>


<form action="/restaurants" method="get">
  <input type="text" name="food_type" placeholder="What kind of food?">
  <input type="submit">
</form>

<form action="/restaurants" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="address" placeholder="Address">
  <input type="submit">
</form>

<!-- <a href="/about">About us!</a> -->
<%= link_to "About us!", team_path %>
